body {
    background: #A9D0F5;
}
img.logo {
    position: relative;
    left: 10%;
}
#header {
    text-align: center;
    word-spacing: 6px;
}
a {
    text-decoration: none;
}
a.header:link,visited,hover,active {
    color: #000000;
}
#sayings {
    text-align: center;
    color: rgb(206,0,0);
}
#sayings p {
    text-align: right;
    width: 100%;
}
#content {
    text-align: center;
    color: #000000;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-weight: bold;
}
#content h1,h2,h3,h4 {
    font-weight: bolder;
}
#content big {
    font-weight: bold;
}
#brand {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#brand ul {
    list-style-type: none;
    clear: none;
}
#brand li {
    float: left;
    margin: 20px;
    height: 150px;
    width: auto;
}
#footer {
    clear: both;
}
#copyright {
    text-align: center;
}
#version {
    text-align: right;
}
#valid {
    text-align: right;
}
